{% extends 'base.html.twig' %}

{% block title %}Modifier mes infos{% endblock %}

{% block body %}
<section class="section">
    <div class="form">
        <h1>Modifier mes informations</h1>

        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.qualification) }}

            <button type="submit" class="btn-cta">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</section>

<a href="{{ path('app_profil') }}" class="btn-link">← Retour au profil</a>
{% endblock %}
